################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WikiDumpParser/bin
/WikiDumpParser/obj
/Demo/bin
/Demo/obj
